@ -1,37 +0,0 @@
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.zip
*.cabal
*.sublime-project
*.sublime-workspace
*.code-workspace
*.gitignore
*.gitattributes
*_old.hs
*_Old.hs

# Ignored folders
.vscode
dist-newstyle
ideas-1.8
ideas-math-types-1.1
temp
