
ideas-1.8/CHANGELOG.txt
ideas-1.8/ideas.cabal
ideas-1.8/LICENSE.txt
ideas-1.8/NOTICE.txt
ideas-1.8/Setup.lhs
ideas-1.8/src/Ideas/Common/Classes.hs
ideas-1.8/src/Ideas/Common/Constraint.hs
ideas-1.8/src/Ideas/Common/Context.hs
ideas-1.8/src/Ideas/Common/Derivation.hs
ideas-1.8/src/Ideas/Common/DerivationTree.hs
ideas-1.8/src/Ideas/Common/Environment.hs
ideas-1.8/src/Ideas/Common/Examples.hs
ideas-1.8/src/Ideas/Common/Exercise.hs
ideas-1.8/src/Ideas/Common/ExerciseTests.hs
ideas-1.8/src/Ideas/Common/Id.hs
ideas-1.8/src/Ideas/Common/Library.hs
ideas-1.8/src/Ideas/Common/Predicate.hs
ideas-1.8/src/Ideas/Common/Rewriting.hs
ideas-1.8/src/Ideas/Common/Rewriting/AC.hs
ideas-1.8/src/Ideas/Common/Rewriting/AutoTerm.hs
ideas-1.8/src/Ideas/Common/Rewriting/Confluence.hs
ideas-1.8/src/Ideas/Common/Rewriting/Difference.hs
ideas-1.8/src/Ideas/Common/Rewriting/RewriteRule.hs
ideas-1.8/src/Ideas/Common/Rewriting/Substitution.hs
ideas-1.8/src/Ideas/Common/Rewriting/Term.hs
ideas-1.8/src/Ideas/Common/Rewriting/Unification.hs
ideas-1.8/src/Ideas/Common/Rule.hs
ideas-1.8/src/Ideas/Common/Rule/Abstract.hs
ideas-1.8/src/Ideas/Common/Rule/Parameter.hs
ideas-1.8/src/Ideas/Common/Rule/Recognizer.hs
ideas-1.8/src/Ideas/Common/Rule/Transformation.hs
ideas-1.8/src/Ideas/Common/Strategy.hs
ideas-1.8/src/Ideas/Common/Strategy/Abstract.hs
ideas-1.8/src/Ideas/Common/Strategy/Choice.hs
ideas-1.8/src/Ideas/Common/Strategy/Combinators.hs
ideas-1.8/src/Ideas/Common/Strategy/Configuration.hs
ideas-1.8/src/Ideas/Common/Strategy/CyclicTree.hs
ideas-1.8/src/Ideas/Common/Strategy/Derived.hs
ideas-1.8/src/Ideas/Common/Strategy/Legacy.hs
ideas-1.8/src/Ideas/Common/Strategy/Location.hs
ideas-1.8/src/Ideas/Common/Strategy/Prefix.hs
ideas-1.8/src/Ideas/Common/Strategy/Process.hs
ideas-1.8/src/Ideas/Common/Strategy/Sequence.hs
ideas-1.8/src/Ideas/Common/Strategy/StrategyTree.hs
ideas-1.8/src/Ideas/Common/Strategy/Symbol.hs
ideas-1.8/src/Ideas/Common/Strategy/Traversal.hs
ideas-1.8/src/Ideas/Common/Traversal/Iterator.hs
ideas-1.8/src/Ideas/Common/Traversal/Navigator.hs
ideas-1.8/src/Ideas/Common/Traversal/Tests.hs
ideas-1.8/src/Ideas/Common/Traversal/Utils.hs
ideas-1.8/src/Ideas/Common/View.hs
ideas-1.8/src/Ideas/Encoding/DecoderJSON.hs
ideas-1.8/src/Ideas/Encoding/DecoderXML.hs
ideas-1.8/src/Ideas/Encoding/Encoder.hs
ideas-1.8/src/Ideas/Encoding/EncoderHTML.hs
ideas-1.8/src/Ideas/Encoding/EncoderJSON.hs
ideas-1.8/src/Ideas/Encoding/EncoderXML.hs
ideas-1.8/src/Ideas/Encoding/Evaluator.hs
ideas-1.8/src/Ideas/Encoding/LinkManager.hs
ideas-1.8/src/Ideas/Encoding/Logging.hs
ideas-1.8/src/Ideas/Encoding/ModeJSON.hs
ideas-1.8/src/Ideas/Encoding/ModeXML.hs
ideas-1.8/src/Ideas/Encoding/OpenMathSupport.hs
ideas-1.8/src/Ideas/Encoding/Options.hs
ideas-1.8/src/Ideas/Encoding/Request.hs
ideas-1.8/src/Ideas/Encoding/RulePresenter.hs
ideas-1.8/src/Ideas/Encoding/RulesInfo.hs
ideas-1.8/src/Ideas/Encoding/StrategyInfo.hs
ideas-1.8/src/Ideas/Main/CGI.hs
ideas-1.8/src/Ideas/Main/CmdLineOptions.hs
ideas-1.8/src/Ideas/Main/Default.hs
ideas-1.8/src/Ideas/Main/Revision.hs
ideas-1.8/src/Ideas/Service/BasicServices.hs
ideas-1.8/src/Ideas/Service/Diagnose.hs
ideas-1.8/src/Ideas/Service/DomainReasoner.hs
ideas-1.8/src/Ideas/Service/FeedbackScript/Analysis.hs
ideas-1.8/src/Ideas/Service/FeedbackScript/Parser.hs
ideas-1.8/src/Ideas/Service/FeedbackScript/Run.hs
ideas-1.8/src/Ideas/Service/FeedbackScript/Syntax.hs
ideas-1.8/src/Ideas/Service/FeedbackText.hs
ideas-1.8/src/Ideas/Service/ProblemDecomposition.hs
ideas-1.8/src/Ideas/Service/ServiceList.hs
ideas-1.8/src/Ideas/Service/State.hs
ideas-1.8/src/Ideas/Service/Submit.hs
ideas-1.8/src/Ideas/Service/Types.hs
ideas-1.8/src/Ideas/Text/HTML.hs
ideas-1.8/src/Ideas/Text/HTML/Templates.hs
ideas-1.8/src/Ideas/Text/HTML/W3CSS.hs
ideas-1.8/src/Ideas/Text/JSON.hs
ideas-1.8/src/Ideas/Text/Latex.hs
ideas-1.8/src/Ideas/Text/MathML.hs
ideas-1.8/src/Ideas/Text/OpenMath/Dictionary/Arith1.hs
ideas-1.8/src/Ideas/Text/OpenMath/Dictionary/Calculus1.hs
ideas-1.8/src/Ideas/Text/OpenMath/Dictionary/Fns1.hs
ideas-1.8/src/Ideas/Text/OpenMath/Dictionary/Linalg2.hs
ideas-1.8/src/Ideas/Text/OpenMath/Dictionary/List1.hs
ideas-1.8/src/Ideas/Text/OpenMath/Dictionary/Logic1.hs
ideas-1.8/src/Ideas/Text/OpenMath/Dictionary/Nums1.hs
ideas-1.8/src/Ideas/Text/OpenMath/Dictionary/Quant1.hs
ideas-1.8/src/Ideas/Text/OpenMath/Dictionary/Relation1.hs
ideas-1.8/src/Ideas/Text/OpenMath/Dictionary/Transc1.hs
ideas-1.8/src/Ideas/Text/OpenMath/FMP.hs
ideas-1.8/src/Ideas/Text/OpenMath/Object.hs
ideas-1.8/src/Ideas/Text/OpenMath/Symbol.hs
ideas-1.8/src/Ideas/Text/OpenMath/Tests.hs
ideas-1.8/src/Ideas/Text/UTF8.hs
ideas-1.8/src/Ideas/Text/XML.hs
ideas-1.8/src/Ideas/Text/XML/Document.hs
ideas-1.8/src/Ideas/Text/XML/Parser.hs
ideas-1.8/src/Ideas/Text/XML/Unicode.hs
ideas-1.8/src/Ideas/Utils/BlackBoxTests.hs
ideas-1.8/src/Ideas/Utils/Decoding.hs
ideas-1.8/src/Ideas/Utils/Parsing.hs
ideas-1.8/src/Ideas/Utils/Prelude.hs
ideas-1.8/src/Ideas/Utils/QuickCheck.hs
ideas-1.8/src/Ideas/Utils/StringRef.hs
ideas-1.8/src/Ideas/Utils/TestSuite.hs
ideas-1.8/src/Ideas/Utils/Typeable.hs
ideas-1.8/src/Ideas/Utils/Uniplate.hs
ideas-math-types-1.1/CHANGELOG.txt
ideas-math-types-1.1/ideas-math-types.cabal
ideas-math-types-1.1/LICENSE.txt
ideas-math-types-1.1/NOTICE.txt
ideas-math-types-1.1/Setup.hs
ideas-math-types-1.1/src/Domain/Algebra/Boolean.hs
ideas-math-types-1.1/src/Domain/Algebra/BooleanLaws.hs
ideas-math-types-1.1/src/Domain/Algebra/Field.hs
ideas-math-types-1.1/src/Domain/Algebra/FieldLaws.hs
ideas-math-types-1.1/src/Domain/Algebra/Group.hs
ideas-math-types-1.1/src/Domain/Algebra/GroupLaws.hs
ideas-math-types-1.1/src/Domain/Algebra/Law.hs
ideas-math-types-1.1/src/Domain/Algebra/SmartGroup.hs
ideas-math-types-1.1/src/Domain/Logic/Formula.hs
ideas-math-types-1.1/src/Domain/Logic/Generator.hs
ideas-math-types-1.1/src/Domain/Logic/Views.hs
ideas-math-types-1.1/src/Domain/Math/Data/DecimalFraction.hs
ideas-math-types-1.1/src/Domain/Math/Data/Interval.hs
ideas-math-types-1.1/src/Domain/Math/Data/MixedFraction.hs
ideas-math-types-1.1/src/Domain/Math/Data/OrList.hs
ideas-math-types-1.1/src/Domain/Math/Data/Polynomial.hs
ideas-math-types-1.1/src/Domain/Math/Data/PrimeFactors.hs
ideas-math-types-1.1/src/Domain/Math/Data/Primes.hs
ideas-math-types-1.1/src/Domain/Math/Data/Relation.hs
ideas-math-types-1.1/src/Domain/Math/Data/SquareRoot.hs
ideas-math-types-1.1/src/Domain/Math/Data/WithBool.hs
ideas-math-types-1.1/src/Domain/Math/Expr.hs
ideas-math-types-1.1/src/Domain/Math/Expr/Clipboard.hs
ideas-math-types-1.1/src/Domain/Math/Expr/Data.hs
ideas-math-types-1.1/src/Domain/Math/Expr/Parser.hs
ideas-math-types-1.1/src/Domain/Math/Expr/Symbols.hs
ideas-math-types-1.1/src/Domain/Math/Expr/Views.hs
ideas-math-types-1.1/src/Domain/Math/Numeric/Views.hs
ideas-math-types-1.1/src/Domain/Math/Safe.hs
IdeasProject.sublime-workspace
